/* ProjectDetails.css */

.project-details {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(251, 182, 145, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.project-box {
  background-color: rgb(199, 154, 154);
  margin: 10px;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.project-box:hover {
  background-color: rgba(135, 132, 132, 0.7);
}

.project-box h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.project-box p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

/* Modal styles */
/* Modal styles */

.ReactModal__Overlay {
  background-color: rgba(130, 79, 79, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ReactModal__Content {
  background-color: rgba(176, 255, 229, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ReactModal__Content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ReactModal__Content p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-modal:hover {
  color: #7e7878;
}
