/* .header {
    background-color: #333;
    padding: 10px 0px;
    color: white;
  } */
  
  .header {
    background-color: #333;
    padding: 10px 0px;
    color: white;
    position: fixed; /* Add this line */
    top: 0; /* Stick it to the top */
    width: 100%; /* Make it span the entire width */
}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
    }
    .navbar-links {
      flex-direction: column;
      align-items: center;
    }
    .navbar-links li {
      margin: 10px 0;
    }
  }
  