.footer {
    margin-top: auto;  /* Push the footer to the bottom */
    background-color: #6f6b6b; /* Dark background */
    color: #fff; /* White text */
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  
  .footer-text {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
  }
  

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-links li {
    margin: 0 15px;
  }
  
  .footer-links a {
    color: #d6d2d2;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 10px 0 0;
    font-size: 0.9em;
  }
  