body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./portfolio4.png');
  background-size: contain;
  background-position: center;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   margin: 0; 
 } 

.App-header {
  background-color: #282c34;
  padding: 20px 0; /* Remove the bottom padding */
  color: white;
  text-align: center;
  margin: 0;
}


.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-list a:hover {
  text-decoration: underline;
}

main {
  padding: 0;
}

section {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    margin: 10px 0;
  }

  main {
    padding:  0;
  }
}

@media (max-width: 480px) {
  .nav-list a {
    font-size: 1em;
  }

  header {
    padding:  0;
  }
}
